alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"

alias be="bundle exec"

alias code="cd ~/Code"

alias did="vim +'normal Go' +'r!date' ~/did.txt"

alias e="vim ~/.zshrc"
alias ea="vim ~/.aliases"

alias nah="git reset --hard && git clean -df"

alias todo="git diff -U0 | grep -iE 'todo|fixme'"

alias weather="curl wttr.in/Chicago"
alias wip="git add -A && git commit -m WIP && git push -f && git reset HEAD^"
alias wip-stash="git add -A && git commit -m WIP"
